<div class="login">
    <div class="container">
        <h1>LOGIN</h1>
        <input type="text" name="" id="" placeholder="Username" #username>
        <input type="Password" name="" id="" placeholder="Password" #password>

        <mat-form-field class="example-full-width">
            <mat-label>Favorite food</mat-label>
            <input matInput placeholder="Ex. Pizza" value="Sushi">
        </mat-form-field>

        <button (click)="login()">Login</button>
        <button (click)="navigateTo('register')">Dont have an account ? Register Here</button>
    </div>
</div>