<div class="login">
    <div class="container">
        <div class="login-heading">Welcome to Health App</div>
        <!-- <input type="text" name="" id="" placeholder="Username" #username>
        <input type="Password" name="" id="" placeholder="Password" #password> -->

        <mat-form-field class="username">
            <mat-label>Username</mat-label>
            <input matInput type="text" #username>
        </mat-form-field>

        <mat-form-field class="password">
            <mat-label>Password</mat-label>
            <input matInput type="password" #password>
        </mat-form-field>

        <button mat-stroked-button class="login-button" (click)="login()">Login</button>
        <button mat-stroked-button class="register-button" (click)="navigateTo('register')">Don't have an account ? Click here to Register</button>
    </div>
</div>