.container {
    height: 100%;
    width: 400px;
    margin: 0 auto;
    .register-form {
        width: 100%;
        height: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        input, button {
            margin: 5px 0;
        }
    }
}